.canvas {
    zoom: 0.5;
}

.controls {
    position: fixed;
    left: 20px;
    top: 20px;
}

.zoom {
    background: #7bc74d;
    width: 40px;
    height: 40px;
    color: #fff;
    border: none;
    border-radius: 50%;
    transition: 0.3s background;
    margin-right: 10px;
    font-size: 21px;
    line-height: 1;
}

.zoom:hover {
    background: #1ac738;
    cursor: pointer;
}

.zoom:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(52,208,88,.4);
}

.canvas {
    width: 100px;
    margin: 0 auto;
}

.pc {
    position: absolute;
    color: transparent;
}

.test .pc {
    text-indent: 0;
    font-size: 40px;
    outline: 1px solid red;
    color: black;
}

.test .pc:hover {
    z-index: 100;
    text-indent: 0;
}

.prod .pc:not(.active) {
    background: azure;
}
